/*--- COLORS ---*/
$grey: #FAFAFA;
$grey_dark: #DCD8D6;
$slate: #90867B;
$beige: #F6F2EF;
$green: #39A374;
$mint: #78C189;
$mint-dark: #71B68C;
$mint-darker: #63A77C;
$red: #F84E0F;
$red-dark: #DB6329;

/*--- GENERAL STYLES ---*/
body {
    background-color: #333;
    font-family: sans-serif;
}

/*--- INDIVIDUAL WIDGET STYLES ---*/ 
@import "style/usermenu";
@import "style/stocks";
